/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/* generici */

body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    padding: 20px;
}



h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}

/* utili */
.t-center {
    text-align: center;
}